* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: palevioletred;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header > div {
  background-color: pink;
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
}

.header > :first-child {
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: center;
}

.sidebar {
  background-color: #d8ffb6;
  width: 300px;
}

.content {
  background-color: #00b522;
  padding: 20px;
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content > div {
  background-color: yellow;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

.footer {
  background-color: rgb(52, 112, 202);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer > div {
  background-color: rgb(110, 231, 225);
  margin: 10px;
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
}
